{% load staticfiles %}

<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Hello, World!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>

<body>
	<div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'socialweb_logout' %}">Logout</a></li>
			{% else %}
				<li><a href="{% url 'socialweb_login' %">Login</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="container">
		<div class="jumbotron">
			{% if user.is_authenticated %}
				<p>Hi, {{ user.username }}! </p>
			{% else %}
				<p>Welcome!</p>
				<p style="margin-top: 1em">
					<a href="{% url 'socialweb_login' %}">Click here to login</a> or
					<a href="#">Sign up!</a>
				</p>
			{% endif %}
		</div>
	</div>
</body>

</html>